body{
    background: #efefef;
    min-height: 100vh;
}

.root{
    min-height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section{
    width: 100%;
    padding: 2rem;
    flex: 1;
}

footer{
    padding: 1rem;
    background: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

ul > li {
    margin-bottom: 0.5rem;
}

h1, h4{
    margin-bottom: 1rem;
}

li.your-answer {
    font-weight: bold;
    color: #dc3545;
}

li.your-answer > code {
    color: #dc3545;
}

li.your-answer.correct {
    font-weight: bold;
    color: #198754;
}

li.your-answer.correct > code{
    font-weight: bold;
    color: #198754;
}