body{
  background: #efefef;
  min-height: 100vh;
}

.root{
  min-height: 100vh;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section{
  width: 100%;
  padding: 2rem;
  flex: 1;
}

footer{
  padding: 1rem;
  background: #dfdfdf;
}

ul {
  list-style: none;
  padding: 0;
}